In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [9]:
df_x = pd.read_csv(r"data\train_dat_s2019.csv",header = None)
df_y = pd.read_csv(r"data\train_labels_s2019.csv", header = None)
test_x = pd.read_csv(r"data\test_dat_s2019.csv", header = None)

In [21]:
df_x

,0,1,2,3,4,5,6,7,8,9,...,39986,39987,39988,39989,39990,39991,39992,39993,39994,39995
0,-1.63583,0.06435,1.05320,1.60307,-0.04371,-0.39382,-1.88455,1.41656,1.63031,0.28513,...,-0.07203,-1.66527,0.37898,-2.05577,-0.24134,0.30498,-1.32387,-1.35241,-2.18302,-0.15691
1,1.30003,1.30126,0.47716,0.70103,1.27967,0.17905,-0.32945,0.05359,1.09998,-0.84180,...,0.00645,0.19085,0.30228,1.61071,-1.11231,-1.79020,0.05111,1.19640,0.44507,0.73987
2,-0.73783,-0.25034,0.98175,0.38186,-0.25728,0.36855,-0.88419,-0.75638,1.05881,-0.45570,...,-0.19261,-0.07095,-0.59214,1.22232,-0.91384,0.22730,-1.02186,-1.26768,0.76001,1.16394
3,0.86905,-1.40565,1.11303,-0.01740,-0.30502,-0.18245,1.46454,-2.36837,0.60497,-0.01801,...,1.78972,1.34579,0.40660,2.43513,0.14894,0.12364,0.58130,-0.52051,-0.01801,-0.17758
4,-0.64344,-0.68258,1.21138,0.73271,-0.38489,1.56170,-0.48992,0.02401,1.22007,0.10662,...,-0.92540,-0.27032,-0.44844,-0.21069,-1.08481,0.26295,0.30614,0.93400,0.95722,-0.77802
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,0.04706,0.32748,-0.11844,0.06316,0.99881,-0.14911,-0.41069,-0.80076,-2.32706,0.03527,...,-1.36062,-0.64155,0.97389,0.10681,0.25339,-0.39828,-0.15071,-1.26376,0.29263,-1.53654
596,-0.24891,-1.00132,1.37253,0.61077,-1.00842,-1.36037,1.56966,-0.49202,-0.90107,1.23135,...,0.05357,1.18322,-0.15375,0.52446,0.02892,0.68652,-0.65177,0.37267,-0.71197,-0.76922
597,0.24611,-0.62979,-1.19828,0.84294,-0.23009,-0.25326,1.17789,-0.62975,0.48746,1.32570,...,0.79706,0.33026,-0.51692,-0.67053,1.40619,1.51461,-0.40741,-1.48694,-0.65692,-0.19608
598,0.05470,0.68396,0.01891,1.06366,0.15074,0.37982,0.00445,-0.07579,-0.34060,0.38515,...,-1.10436,1.12525,-0.09515,0.39437,-1.95999,0.19099,-0.20536,0.31284,-0.26483,1.60105
599,1.12198,0.37804,1.26588,-0.27502,-0.76932,0.30638,0.78935,-0.61013,-0.32779,-1.32529,...,-0.34145,0.10053,1.35678,2.18704,2.69174,-0.09367,0.47227,0.83761,-1.45861,-0.54696

In [44]:
df_y

     0
0    0
1    0
2    0
3    1
4    0
..  ..
595  1
596  1
597  0
598  0
599  1

[600 rows x 1 columns]

,0,1,2,3,4,5,6,7,8,9,...,39986,39987,39988,39989,39990,39991,39992,39993,39994,39995
0,-1.63583,0.06435,1.05320,1.60307,-0.04371,-0.39382,-1.88455,1.41656,1.63031,0.28513,...,-0.07203,-1.66527,0.37898,-2.05577,-0.24134,0.30498,-1.32387,-1.35241,-2.18302,-0.15691
2,-0.73783,-0.25034,0.98175,0.38186,-0.25728,0.36855,-0.88419,-0.75638,1.05881,-0.45570,...,-0.19261,-0.07095,-0.59214,1.22232,-0.91384,0.22730,-1.02186,-1.26768,0.76001,1.16394
4,-0.64344,-0.68258,1.21138,0.73271,-0.38489,1.56170,-0.48992,0.02401,1.22007,0.10662,...,-0.92540,-0.27032,-0.44844,-0.21069,-1.08481,0.26295,0.30614,0.93400,0.95722,-0.77802